electron_mirror=https://registry.npmmirror.com/-/binary/electron/
registry=https://registry.npmmirror.com/

node-linker=hoisted

# better-sqlite3编译错误手动运行： pnpm electron-rebuild --mirror=https://npmmirror.com/mirrors/electron/